.container
  .row
    .col-md-12
      .cabecera
        .logo(class="pull-left")
          img(class="img-responsive" src="img/logo.fw_.png", alt="logo")
        .contactos-redes(class="pull-right hidden-xs")
          span Email: 
          a(href="#") consultas@vocativa.com.pe
