div(class="panel panel-default")
  .panel-heading.titulo-panel Informes
  .panel-body 
    img(src="img/banner_031.jpg", alt="doctora")
  
.panel.panel-default
  .panel-heading.titulo-panel Servicios
  .panel-body
    img(src="img/jovenes2.jpg", alt="jovenes")
      
