extends templates/template
append config
  -sitio = "Evaluaciones"
  -var _servicios ="active"
block banner
  img(src="img/servicios-22.jpg", alt="servicios")
block contenido
  .container
    .row
      .col-md-9
        .main-wrap
          
          h2 Evaluaciones Psicológicas:
          h3 Dirigido a:
          img( class="pull-right" src="img/shutterstock_157874906-300x200.jpg", alt="equipo")
          p Este servicio está dirigido el público en general  ya sea  que por propio interés o por recomendación laboral, académica o de salud consideran conveniente realizar una evaluación psicológica.
          
          h3 Propósito:
          p El propósito es describir el funcionamiento psicológico actual de una persona o bien explicar las dificultades que motivan la consulta con el fin de realizar un diagnóstico y concluir las recomendaciones pertinentes y sugerir la terapia correspondiente.
          
          h3 Compuesto por:
          img(class="pull-right" src="img/evaluacion-psicologica1-300x200.jpg", alt="consultoría")
          p Este servicio consta en promedio de 6 sesiones y concluye con un informe psicológico, dirigido a quien se solicite.
          ol
            li <b>Sección:</b> Test Vocacional Psicológico
            li <b>Sección:</b> Actitudes capacidad y fortalezas
            li <b>Sección:</b> Elección de la terapia correspondiente
            li <b>Sección:</b> Entrega del informe psicológico

          
          img(class="banner" src="img/banner_013.jpg", alt="Datos de contacto")
      .col-md-3
        .side-wrap
          include blocks/side-wrap
