extends templates/template
block banner
  img(src="img/nosotros.jpg", alt="nosotros")
block contenido
  .container
    .row
      .col-md-9
        .main-wrap
          
          h2 QUIÉNES SOMOS:
          img( class="pull-right" src="img/equipment-of-word-300x199.jpg", alt="equipo")
          p  Vocativa, es una organización conformada por Psicólogos, especializados en el asesoramiento vocacional orientados y comprometidos a ayudarle para la correcta elección de una carrera profesional promoviendo el conocimiento de sí mismo, para el desarrollo y crecimiento personal.
          p Tenemos más de 5 años de experiencia en el rubro ocupacional y vocacional brindando los siguientes servicios: Evaluaciones Psicológicas, Asesoramiento Vocacional y los diversos talleres como Liderazgo, autoestima y desarrollo personal.
          
          h2 MISIÓN:
          img(class="pull-right" src="img/Psychologist-Salary-300x200.jpg", alt="psicólogo")
          P Brindar recursos y soluciones eficaces a través de nuestros servicios como: Evaluaciones Psicológicas, Asesoramiento Vocacional y los diversos talleres que brindamos para ayudarlos en el proceso de decisión vocacional.
          h2 Visión:
          P Posicionarnos en la mente de nuestros consumidores como la opción de apoyo más adecuada para elegir una opción laboral que se ajuste a sus intereses, capacidades y características personales.
          h2 Trabajo en Equipo:
          img(class="pull-right" src="img/evaluacion-psicologica1-300x200.jpg", alt="consultoría")
          P Posicionarnos en la mente de nuestros consumidores como la opción de apoyo más adecuada para elegir una opción laboral que se ajuste a sus intereses, capacidades y características personales.
          img(class="banner" src="img/banner_013.jpg", alt="Datos de contacto")
      .col-md-3
        .side-wrap
          include blocks/side-wrap
          
