extends templates/template

append config
  -sitio = "Orientación Vocacional"
  -var _servicios ="active"
block banner
  img(src="img/servicios_1.jpg", alt="servicios")
block contenido
  .container
    .row
      .col-md-9
        .main-wrap
          
          h2 Orientación Vocacional:
          h3 Objetivo:
          img( class="pull-right" src="img/ejecutivo-1-300x197.jpg", alt="equipo")
          p Identificar los intereses, capacidades e inclinaciones laborales y motivarlas a elegir una profesión, oficio o carrera técnica según sea el requerimiento.
          
          h3 Dirigido a:
          ol
            li Jóvenes que están a punto de acabar el colegio o recién egresados que aún no han decidido qué estudiar entre dos o tres alternativas.
            li Personas que están cursando estudios de profesionalización, pero que no encuentran la motivación necesaria o que su perfil no se ajusta a la carrera.
            li Personas en general que por diferentes motivos, desean tener mayor profundidad sobre si su decisión profesional fue la correcta.
          
          h3 ¿Cómo lo hacemos?
          p Mediante un proceso de evaluación  que consta de cuatros sesiones, el participante mejorará la visión que tiene de su mismo y de la forma en la que podría insertarse al mercado laboral más adelante.
          
          h3 Proceso
          p <b>1ra Sección:</b> Evaluación de la Personalidad
          p <b>2da Seccion:</b> Relaciones familiares (expectativas parentales) - Influencias
          p <b>3ra Sección:</b> Gustos e intereses personales
          p <b>4ta Sección:</b> Inteligencias múltiples
          p <b>5ta Sección:</b> Entrega de Informe Psicológico
          img(class="banner" src="img/banner_013.jpg", alt="Datos de contacto")
      .col-md-3
        .side-wrap
          include blocks/side-wrap
